<h3><em>About the Restoration Station</em></h3>

<p>
  We are an organization committed to watershed and ecosystem-wide restoration. Using evidence based management, and years of experience from our volunteers and programmers alike, we have developed targeted, effective approaches to improve our environment on a local level. With a solid foundation of impact and a cause we believe to be noble, we see this as an opportunity to help bring communities together as well. We believe giving our time and energy allows us to build more empathetic and mindful relationships with each, and that this act can only help to germinate a positive feedback cycle that empowers and strengthens our communities and ecosystems alike.
</p>

<h4>Join us today!</h4>
<hr id="aboutHr">

<h4><em>About this Site</em></h4>

<p>
  This site is a great resource for members of all roles to see and share progress and get connected with other members in our organization. If you have any questions or concerns related to editing, creating and deleting profiles, please feel free to contact the site administrator at g@g.com (<em>note: not a real email</em>).
</p>
