<h3>Member Name: {{memberToDisplay?.name}}</h3>
<h4>Role at Restoration Station: {{memberToDisplay?.role}}</h4>
<table class="table">
  <thead>
    <tr>
      <th>Number of plants planted</th>
      <th>Invasive species/garbage removed (ft<sup>3</sup>)</th>
      <th>Local Chapter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{memberToDisplay?.planted}}</td>
      <td>{{memberToDisplay?.removed}}</td>
      <td>{{memberToDisplay?.location}}</td>
    </tr>
  </tbody>
</table>

<div class="well">
  <p>Summary</p>
  <p>{{memberToDisplay?.summary}}</p>
</div>
