<!-- <div id="background">
  <div class="jumbotron" id="jumbo">

    <h1><br><br><em>Restoration Station</em></h1>
  </div>
</div> -->

<div id="body">
  <!-- <div id="jumbotron" class="jumbotron">
    <h1>
      <a routerLink=''>{{title}}</a>
    </h1>
  </div> -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="portland">Portland</a></li>
        <li><a routerLink="seattle">Seattle</a></li>
        <li><a routerLink="boise">Boise</a></li>
        <li><a routerLink="san-francisco">San Francisco</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <app-login></app-login>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
<footer class="footer">
  <div class="container">
  <a id="aboutLink" routerLink="about">About</a>
  </div>
</footer>
