/* You can add global styles to this file, and also import other style files */
.avatar {
  max-width: 150px;
  margin-bottom: 0;
}

.click {
   cursor: pointer;
}

#body {
  margin-bottom: 80px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: darkgrey;
  padding: 15px;
  padding-bottom: 20px;
  text-align: center;
}

#aboutLink {
  color: white;
}

#get-logged {
  padding-top: 15px;
  padding-right: 10px;
}

#aboutHr {
  max-width: 33%;
}

.memberTable {
  max-width: 90%;
}

#admin-mode {
  text-align: center;
}

#log-out-btn {
  float: right;
}
