<div class="container-fluid memberTable">
  <div id="newForm" *ngIf="currentRoute === '/admin'">
    <app-new-member></app-new-member>
  </div>
  <br>
  <h2 class="font">Current Members</h2>
  <div class="form-group">
    <label>View by Role:</label>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option value="all" selected>All Members</option>
      <option value="member">Members</option>
      <option value="board">Board of Directors</option>
      <option value="manager">Project Managers</option>
      <option value="coordinator">Member Coordinators</option>
    </select>
  </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Local Chapter</th>
        <th *ngIf="currentRoute === '/admin'">Plants Planted
          <!-- <span class="click" (click)="sortNumeric('planted', 1)">&#9650;</span>
          <span class="click" (click)="sortNumeric('planted', -1)">&#9660;</span> -->
        </th>
        <th *ngIf="currentRoute === '/admin'">Invasive species/garbage removed (ft<sup>3</sup>)
          <!-- <span class="click" (click)="sortNumeric('removed', 1)">&#9650;</span>
          <span class="click" (click)="sortNumeric('removed', -1)">&#9660;</span> -->
        </th>
        <th *ngIf="currentRoute === '/admin'">Edit Details</th>
      </tr>
    </thead>
    <tbody *ngFor="let member of members | async | location:filterBy | role:filterRole">

      <tr>
        <td><h4 class="click" (click)="goToDetail(member)"><em>{{member.name}}</em></h4></td>
        <td class="click" (click)="goToDetail(member)">{{member.role}}</td>
        <td class="click" (click)="goToDetail(member)">{{member.location}}</td>
        <td *ngIf="currentRoute === '/admin'">{{member.planted}}</td>
        <td *ngIf="currentRoute === '/admin'">{{member.removed}}</td>
        <td *ngIf="currentRoute === '/admin'"><app-edit-member [selectedMember]="member"></app-edit-member></td>
      </tr>
    </tbody>
  </table>
</div>
